@model PraktyczneKursy.ViewModels.HomeViewModel
    @using PraktyczneKursy.Infrastructure

@{ 
    ViewBag.Title = "Praktyczne Kursy";
}

<nav class="kategorieHorizontal">
    <ul>
        @foreach (var category in Model.Categories)
        {

            <li>
                <a href="@Url.Action("List","Courses", new { categoryName=category.CategoryName.ToLower()})" 
                   style="background-image: url(@Url.CategoryIconPath(category.IconFileName)); ">
                    @category.CategoryName
                </a>
            </li>
        }

    </ul>

    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var brandNew in Model.BrandNew)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("AddToCart","Cart",new {id=brandNew.CourseId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Details","Courses", new { id=brandNew.CourseId})">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.ImagePath(brandNew.FileOrPicturePhotoName)" />
                        <h1>
                            @brandNew.CourseTitle - @brandNew.CourseAuthor
                        </h1>
                    </a>
                </article>
            </li>

        }


    </ul>
</section>
<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var bestSeller in Model.Bestsellers)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("AddToCart","Cart",new {id=bestSeller.CourseId })">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Details","Courses", new { id=bestSeller.CourseId})">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.ImagePath(bestSeller.FileOrPicturePhotoName)" />
                        <h1>
                            @bestSeller.CourseTitle - @bestSeller.CourseAuthor
                        </h1>
                    </a>
                </article>
            </li>

        }


    </ul>
</section>
