@model PraktyczneKursy.Models.Course
@using PraktyczneKursy.Infrastructure

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="ListaKategoriZawartosc">
    @Html.Action("CategoryMenu")
    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>
        <section id="SekcjaKurs">
            <div id="KursLewa">
                <img src="@Url.ImagePath(Model.FileOrPicturePhotoName)" />
            </div>
            <div id="KursPrawa">
                <div id="KursNazwa">
                    <h1>
                        @Model.CourseTitle
                    </h1>
                    <h2>
                        @Model.CourseAuthor
                    </h2>
                </div>
                <div id="KursCena">
                    <div>
                        @string.Format("{0:0.##}",Model.CoursePrice)<span>PLN</span>
                    </div>
                    <a href="@Url.Action("AddToCart","Cart",new {id=Model.CourseId.ToString() })"></a>
                </div>
                <div id="KursOpis">
                    @Model.CourseDescription
                </div>
                <div id="KursInfo">
                    @Model.ShortDescription
                </div>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                <a href="@Url.Action("AddCourse","Manage",new { courseId=Model.CourseId})" style="margin-top: 20px; font-weight: bold; display:block">Edit Course</a>
                }

            </div>
        </section>
    </div>
</div>
